<div class="regalo-container">
  <h2 class="regalo-title">Regalo mama y papa 3</h2>

  <div class="regalo-image">
    <img src="assets/img/montse.jpeg" alt="" class="historia-image">
  </div>

  <div class="regalo-message">
    Ai, ai, ai….. on estarà…. Pots mirar si el trobes en un lloc on hi han jocs….. on vols fer canvis de mobiliari…. 🤔on serà??🤭😍😍
  </div>

  <div class="regalo-actions">
    <button pButton type="button" label="Volver atrás" class="regalo-btn" (click)="goBack()"> Volver atrás </button>
  </div>
</div>
