<div class="inicio-container">
  <div class="inicio-content">
    <span class="fecha">24/09/2023</span>
    <h1 class="inicio-title">💜Felicidades cariño💜</h1>
    <p class="inicio-message">
      En este día tan especial, quiero recordarte lo increíble que eres, no solo para mí, sino para todos los que tienen la suerte de conocerte.
    </p>
    <p class="inicio-message">
      Eres una fuente de alegría, amor y felicidad, y no hay palabras suficientes para expresar cuánto significas para mí.
    </p>
    <p class="inicio-message">
      Espero que este pequeño regalo sea un reflejo del amor que siento por ti, y que te haga sonreír tanto como tú me haces sonreír cada día. ¡Te amo más de lo que las palabras pueden decir!
    </p>
    <div class="inicio-actions">
      <a routerLink="/momentos-especiales" class="inicio-btn">Ver Momentos Especiales</a>
    </div>
  </div>
</div>
