<div class="regalo-container">
  <h2 class="regalo-title">Regalo Lydia Cristian 2</h2>

  <div class="regalo-image">
    <img src="assets/img/cristian-lydia.jpeg" alt="" class="historia-image">
  </div>

  <div class="regalo-message">
    El segon regal és en un lloc on sempre es colaven els ocellets. Segur que ja tens una idea…🤭😍😍
  </div>

  <div class="regalo-actions">
    <button pButton type="button" label="Volver atrás" class="regalo-btn" (click)="goBack()"> Volver atrás </button>
  </div>
</div>
