<div class="regalo-container">
  <h2 class="regalo-title">Regalo Lydia Cristian 3</h2>

  <div class="regalo-image">
    <img src="assets/img/lydia.jpeg" alt="" class="historia-image">
  </div>

  <div class="regalo-message">
    El tercer regal és en un lloc molt especial, un racó on la nostra estimada Kira s'amagava... és allà on trobaràs la següent sorpresa. Un lloc ple de records i amor.🥹❤️
  </div>

  <div class="regalo-actions">
    <button pButton type="button" label="Volver atrás" class="regalo-btn" (click)="goBack()"> Volver atrás </button>
  </div>
</div>
