<div class="regalo-container">
  <h2 class="regalo-title">Regalo Andreu 1</h2>

  <div class="regalo-image">
    <img src="assets/img/2.jpg" alt="" class="historia-image">
  </div>

  <div class="regalo-message">
    El segundo regalo lo encontrarás en el lugar donde solías jugar con tu cochecito cuando eras pequeña. Pista: sigue el mismo recorrido con tu dedo, como lo hacías antes, hasta llegar a la figurita del hombre. Una vez llegues ahí, ¡atrévete a tocarle el culete! 😉
  </div>

  <div class="regalo-actions">
    <button pButton type="button" label="Volver atrás" class="regalo-btn" (click)="goBack()"> Volver atrás </button>
  </div>
</div>
