body {
  background-color: #000;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

.historia-container {
  max-width: 800px;  /* Ancho máximo del contenedor */
  margin: 50px auto;  /* Centramos el contenedor con un margen superior e inferior de 50px */
  padding: 20px 30px;  /* Espaciado interno */
  background-color: #0e0e0e;  /* Fondo del contenedor negro pero ligeramente diferente del fondo de la página */
  border-radius: 15px;  /* Bordes redondeados */
  border: 2px solid #8e44ad;  /* Borde lila */
  box-shadow: 0 0 15px #8e44ad;  /* Sombra lila para un efecto de "glow" */
  position: relative;  /* Posicionamiento relativo para el uso de elementos posicionados */
}

.fecha {
  font-size: 0.9rem;
  color: #8e44ad;  /* Color lila para la fecha */
  position: absolute;
  top: 10px;
  left: 20px;
  padding: 5px 10px;
  border-radius: 12px;
  border: 1px solid #8e44ad;  /* Borde lila para la fecha */
  background-color: #0e0e0e;  /* Fondo oscuro para la fecha */
}

.historia-section {
  display: flex;  /* Usamos flexbox para alinear el texto y la imagen */
  flex-direction: column;  /* Los elementos se alinean en columna (uno debajo del otro) */
  align-items: center;  /* Centramos los elementos horizontalmente */
  margin-bottom: 30px;  /* Espacio entre las secciones */
}

.historia-text {
  font-size: 1.1rem;  /* Texto ligeramente más grande para mejor legibilidad */
  color: #ccc;  /* Texto gris claro para contraste */
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: justify;  /* Justificamos el texto para alinearlo a ambos lados */
  padding: 0 20px;  /* Añadimos un poco de espacio a los lados */
}

.historia-image {
  width: 100%;  /* La imagen ocupa todo el ancho disponible */
  max-width: 400px;  /* Limita el ancho máximo de la imagen */
  height: auto;  /* Mantiene la proporción de la imagen */
  border-radius: 15px;  /* Bordes redondeados en las imágenes */
  box-shadow: 0 0 15px #8e44ad;  /* Sombra lila similar al contenedor */
  margin-bottom: 20px;  /* Espacio debajo de la imagen */
}

.final-message {
  text-align: justify;  /* Centramos el mensaje final en la página */
  font-size: 1.6rem;  /* Tamaño de fuente mayor para resaltar el mensaje final */
  font-weight: bold;  /* Resalta el mensaje con un texto más grueso */
}

@media (max-width: 768px) {
  .historia-section {
    flex-direction: column;  /* Mantiene los elementos en columna en pantallas pequeñas */
  }

  .historia-text {
    padding: 20px 0;  /* Añade espacio interno en pantallas pequeñas para el texto */
  }

  .historia-image {
    width: 100%;  /* Las imágenes ocupan todo el ancho en pantallas pequeñas */
    margin-bottom: 20px;  /* Añade espacio debajo de la imagen */
  }
}
