<div class="historia-container">
  <span class="fecha">12/08/2024</span>
  <section class="historia-section">
    <p class="historia-text">
      Quizás nuestro encuentro no fue el más tradicional o romántico, sin embargo, desde el primer instante supimos que había algo especial entre nosotros. Nuestras conversaciones fluían como si nos conociéramos de toda la vida, y pronto nos dimos cuenta de que queríamos dar un paso más y quedar en persona. Ya ha pasado más de un año desde aquel mágico día en la playa, viendo los fuegos artificiales. ¡Qué momento tan inolvidable (aunque no me dieras un besito😭)!
    </p>
    <img src="/assets/img/fuegos.jpeg" alt="Focs de Blanes" class="historia-image">
  </section>

  <section class="historia-section">
    <p class="historia-text">
      Fuimos avanzando poco a poco, con momentos en los que parecía que todo se complicaba y otros en los que todo marchaba de maravilla. Poco después de tu cumpleaños del año pasado, nuestra relación se volvió más intensa, y empezamos a descubrir nuevas facetas el uno del otro. Cada día que pasaba, nos acercábamos más, hasta que finalmente decidimos dar otro gran paso: pasar un fin de semana juntos en Platja d'Aro.
    </p>

    <p class="historia-text">
      No tenía foto de Platja d'Aro, pero dejo esta que es muy bonita.
    </p>
    <img src="assets/img/nenitasYnene.JPG" alt="Platja de Aro" class="historia-image">
  </section>

  <section class="historia-section">
    <p class="historia-text">
      Después de aquella escapada, decidimos volver a compartir una nueva aventura, esta vez en Magma. Fue ahí donde nos dijimos nuestro primer "te quiero". Fue un momento un poco atípico, sí, pero viniendo de nosotros, no podría haber sido de otra manera. Nuestra relación siempre ha tenido un toque único, y eso es algo que adoro de nosotros.
    </p>
    <img src="assets/img/magma.jpg" alt="Magma" class="historia-image">
  </section>

  <section class="historia-section">
    <p class="historia-text">
      ¿Te acuerdas de la deliciosa paella que disfrutamos en Banyoles? Todo parecía perfecto ese día.
    </p>
    <img src="assets/img/paella.jpg" alt="Paella" class="historia-image">
    <img src="assets/img/nenes.jpg" alt="Paella en Banyoles" class="historia-image">
  </section>

  <section class="historia-section">
    <p class="historia-text">
      El 24 de septiembre te pedí que fueras mi pareja, y así comenzó una nueva etapa en nuestra historia. Poco a poco, fuimos formando un equipo.
    </p>
    <img src="assets/img/nena.JPG" alt="Foto de amor" class="historia-image">
  </section>

  <section class="historia-section">
    <p class="historia-text">
      Por supuesto, no todo fue fácil. Tuvimos nuestras pruebas, como los celos (por mi parte) y el estrés del trabajo (por tu parte), pero logramos superarlas juntos. Supimos apoyarnos mutuamente en los momentos más difíciles y eso es lo que hace crecer una relación. Después rompimos una barrera y nos unimos tanto que no solo somos una pareja, si no que eres mi mejor amiga, a la persona que se lo cuento todo, a la que acudo si he tenido un mal día, con la que comparto mis entrenamientos, las largas sesiones de estudio y literalmente todo. Dejo unos cuantos de nuestros momentos:
    </p>

    <p class="historia-text">
      Nuestro primer St Valentín.
    </p>
    <img src="assets/img/stValentin.jpg" alt="St Valentin" class="historia-image">

    <p class="historia-text">
      Nuestro primer fin de año.
    </p>
    <img src="assets/img/FinAñoNenes.jpg" alt="fin de año" class="historia-image">

    <p class="historia-text">
      Mi precioso altar de la nena.
    </p>
    <img src="assets/img/altar-nene.jpg" alt="Altar nena" class="historia-image">

    <p class="historia-text">
      Un besito como cualquier otro.
    </p>
    <img src="assets/img/beso.jpg" alt="beso" class="historia-image">

    <p class="historia-text">
      No podía faltar un recuerdo en casa de tu hermana con nuestra Pruna (yo estoy de fondo en la cama).
    </p>
    <img src="assets/img/nena-con-nene-de-fondo.jpg" alt="Pruna" class="historia-image">

    <p class="historia-text">
      O en tu casa con nuestra nena pequeña.
    </p>
    <img src="assets/img/nene-y-nena-peque.jpg" alt="Nena pequeña" class="historia-image">
  </section>

  <section class="historia-section">
    <p class="historia-text final-message">
      Ahora nuestra relación ha alcanzado una estabilidad envidiable. Somos un equipo, siempre apoyándonos y cuidándonos. Pero también sé que hemos dejado de hacer algunas de las cosas que solíamos disfrutar. Por eso, tengo algunas sorpresas preparadas para nosotros, para seguir creando más momentos como estos.
      <br><br>
      ¿Te gustaría seguir escribiendo esta historia conmigo? Si es así, abre el menú y ves a sorpresa especial, tenemos todos algo preparado para ti.
    </p>
  </section>
</div>
