<div class="regalo-container">
  <h2 class="regalo-title">Regalo Andreu 1</h2>

  <div class="regalo-image">
    <img src="assets/img/1.jpg" alt="" class="historia-image">
  </div>

  <div class="regalo-message">
    Bueno cariño, espero que te esté gustando esta sorpresa, he puesto todo mi corazón y esfuerzo para que tengas el cumpleaños que realmente te mereces. Porque al final, no importa la cantidad de personas, sino la calidad de quienes están a tu lado, y hoy estamos rodeados de calidad. El primer regalo te espera bajando las escaleras, en el lugar donde se guarda el agua. La pista para encontrarlo es simple: deja que tus ojos miren a través del cristal… 🤭😍😍
  </div>

  <div class="regalo-actions">
    <button pButton type="button" label="Volver atrás" class="regalo-btn" (click)="goBack()"> Volver atrás </button>
  </div>
</div>
