<div class="regalo-container">
  <h2 class="regalo-title">Regalo mama y papa 1</h2>

  <div class="regalo-message">
    Per molts anys carinyu!!! 🎂🥳 i feliços 25 anys!!! Te desitgem el millor i sobretot que siguis molt feliç💖💖tot el que te proposis ho aconseguiràs com sempre ho has fet.... No ho dubtis mai 💪💪💪 T'estimem moltisssimm!!!!!🥰❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️
  </div>

  <div class="regalo-message">
    PD: Si vols el primer regal…. busca’l en el lloc on el papa s’entreten molt i on està la segona seva enamorada….😌❤️❤️
  </div>

  <div class="regalo-actions">
    <button pButton type="button" label="Volver atrás" class="regalo-btn" (click)="goBack()"> Volver atrás </button>
  </div>
</div>
