<div class="sorpresa-container">
  <h2 class="sorpresa-title">Sorpresa Especial</h2>

  <div class="sorpresa-buttons">
    <button pButton type="button" label="Regalo mama y papa 1" class="sorpresa-btn" (click)="navigateTo('regalo-mama-papa-1')"> Regalo mama y papa 1 </button>
    <button pButton type="button" label="Regalo mama y papa 2" class="sorpresa-btn" (click)="navigateTo('regalo-mama-papa-2')"> Regalo mama y papa 2 </button>
    <button pButton type="button" label="Regalo mama y papa 3" class="sorpresa-btn" (click)="navigateTo('regalo-mama-papa-3')"> Regalo mama y papa 3 </button>
    <button pButton type="button" label="Regalo Lydia y Cristian" class="sorpresa-btn" (click)="navigateTo('regalo-lydia-cristian')"> Regalo Lydia y Cristian </button>
    <button pButton type="button" label="Regalo Andreu 1" class="sorpresa-btn" (click)="navigateTo('regalo-andreu-1')"> Regalo Andreu 1 </button>
    <button pButton type="button" label="Regalo Andreu 2" class="sorpresa-btn" (click)="navigateTo('regalo-andreu-2')"> Regalo Andreu 2 </button>
  </div>
</div>

