<div class="regalo-container">
  <h2 class="regalo-title">Regalo Lydia Cristian 1</h2>

  <div class="regalo-message">
    Feliç cumple Júlieta! 🩷✨ 25 anyets ja, segur plens de coses bones que t’esperen. No deixis de lluitar mai. Has de creure tot el que vals. Aquí sempre tindràs el nostre recolzament i molt d’amor. T’estimem moltíssim!! Esperem que t’agradin molt els regalets 🤭🙈 Cristian i Lidia
  </div>

  <div class="regalo-message">
    PD: Vols el primer regal? Està al lloc on tenia guardades totes les meves Shellys. Saps perfectament on és...😉 Allà t'espera la sorpresa!❤️❤️
  </div>

  <div class="regalo-actions">
    <button pButton type="button" label="Volver atrás" class="regalo-btn" (click)="goBack()"> Volver atrás </button>
  </div>
</div>
